{% extends "books_app/base.html" %}

{% block title %}Request a Book - eBooks{% endblock %}

{% block content %}
  <div class="content-page">
    <h1>Request a New Book</h1>
    <p>Can't find the book you're looking for? Fill out the form below, and we'll do our best to find it for you.</p>

    <form method="post" class="styled-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button-link">Submit Request</button>
    </form>
    <div class="form-footer">
        <p>After submitting, you can check the status of your request on the <a href="{% url 'books_app:my_requests' %}">My Requests</a> page.</p>
    </div>
  </div>
{% endblock %}